@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

// COLOR SCHEME
$primary : #7F56DA;
$secondary : #FF6A06;
$accent : #ebf43e;
$text : #141313;
$placeholder : #5b5b5b;
$background : #f4f3f6;
$lightbg: rgb(209, 204, 204);

// STATUS COLORS
$success : #56da7b;
$info : #5dbceb;
$warning : #d8e210;
$error : rgb(240, 18, 18);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

@mixin Flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin onHover() {
    filter: contrast(2);
    transform: scale(1.1);
    transition: all 0.3s;
}

@mixin offHover() {
    filter: contrast(1);
    transform: scale(1);
    transition: all 0.3s;
}

@mixin Button() {
    padding: 7.5px 25px;
    color: $background;
    background-color: $primary;
    border-radius: 25px;
}

highlightPrimary {
    color: $primary;
}

highlightSecondary {
    color: $secondary;
}

body {
    @include Flex();
    flex-direction: column;
    gap: 100px;
}

nav {
    width: 100%;
    @include Flex();
    padding: 1vw 2.5vw;

    .logo {
        @include Flex();
        width: 10%;
        gap: 10px;

        img {
            width: 25%;
            aspect-ratio: 1.5;
        }
    }

    .navItems {
        width: 50%;
        @include Flex();
        justify-content: space-evenly;
        color: $placeholder;

        h5 {
            &:hover {
                @include onHover();
            }

            &:not(:hover) {
                @include offHover();
            }
        }
    }

    .navBtns {
        width: 20%;
        @include Flex();
        justify-content: center;
        gap: 25px;

        a {
            font-size: 0.80rem;
            font-weight: 700;
            text-decoration: none;
            color: black;

            &:hover {
                @include onHover();
            }

            &:not(:hover) {
                @include offHover();
            }
        }

        .contactUsBtn {
            @include Button();
        }
    }
}

.section-1 {
    width: 85%;
    margin: auto;
    @include Flex();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;

    border: 5px solid $lightbg;
    border-radius: 50px;
    padding: 25px;

    h1 {
        width: 75%;
        font-size: 3.5rem;
        font-family: "Lora";
    }

    h6 {
        font-size: 1rem;
        color: $placeholder;
    }

    .teacher1 {
        position: absolute;
        bottom: 75px;
        left: 175px;
        width: 175px;
        aspect-ratio: 0.7;
        border-radius: 100px;
        object-fit: cover;
        border: 3px solid white;
    }

    .teacher2 {
        position: absolute;
        bottom: 75px;
        right: 175px;
        width: 175px;
        aspect-ratio: 0.7;
        border-radius: 100px;
        object-fit: cover;
        border: 3px solid white;
    }

    .btns {
        @include Flex();
        gap: 50px;
        position: relative;
        top: 50px;
        background-color: white;

        h4 {
            @include Button();
            padding: 15px 75px;

            &:hover {
                @include onHover();
            }

            &:not(:hover) {
                @include offHover();
            }
        }

        .jai {
            background-color: $secondary;
        }
    }
}

.icons {
    width: 80%;
    @include Flex();
    margin-top: 100px;

    .hs {
        img {
            width: 125px;
            aspect-ratio: 3.5;
        }
    }

    .gl {
        @include Flex();
        gap: 10px;

        img {
            width: 50px;
            aspect-ratio: 1;
        }

        h4 {
            font-size: 2rem;
            color: $placeholder;
        }
    }

    .lm {
        img {
            width: 125px;
            aspect-ratio: 3.5;
        }
    }

    .lc {
        @include Flex();
        gap: 10px;
        align-items: center;

        img {
            width: 45px;
            aspect-ratio: 1;
        }

        h4 {
            font-size: 2rem;
            color: $placeholder;
        }
    }

    .ahrefs {
        h4 {
            font-family: "Lora";
            font-size: 2.5rem;
            color: $placeholder;
        }
    }
}

.section-2 {
    width: 80%;
    @include Flex();
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .header {
        width: 100%;
        @include Flex();

        h1 {
            font-size: 3rem;
        }

        a {
            font-weight: 700;
            color: $placeholder;
        }
    }

    h4 {
        font-size: 1rem;
        color: $placeholder;
        margin-bottom: 50px;
    }

    .cardContainer {
        width: 100%;
        @include Flex();
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            width: 32%;
            aspect-ratio: 0.9;
            // background-color: $lightbg;
            @include Flex();
            align-items: flex-end;
            justify-content: flex-end;
            // background-image: url("./static/images/laptop.jpg");
            background-size: cover;
            background-position: bottom center;
            border-radius: 45px;
            border: 5px solid $lightbg;
            border-top: none;
            border-left: none;

            .details {
                width: 100%;
                padding: 15px;
                background-color: white;
                border-bottom-right-radius: 40px;
                border-bottom-left-radius: 40px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 15px;

                p {
                    font-size: 0.75rem;
                }

                h3 {
                    font-family: "Lora";
                    font-size: 1.5rem;
                }

                hr {
                    width: 100%;
                }

                .dev {
                    padding: 10px;
                }
            }

            &:hover {
                filter: contrast(1);
                border-radius: 50px;
                border: 10px solid $lightbg;
                border-top: none;
                border-left: none;
                transition: all 0.4s;
            }

            &:not(:hover) {
                border-radius: 45px;
                border: 5px solid $lightbg;
                border-top: none;
                border-left: none;
                transition: all 0.3s;
            }

        }
    }
}

.section-3 {
    width: 85%;
    @include Flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;

    .part1 {
        text-align: center;

        h1 {
            font-size: 3rem;
        }

        h5 {
            font-size: 1.25rem;
            color: $placeholder;
        }

        .coursesContainer {
            @include Flex();
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            gap: 25px;

            .courseCard {
                @include Flex();
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 175px;
                aspect-ratio: 1;
                border: 2px solid $lightbg;
                border-radius: 15px;
                gap: 15px;

                img {
                    width: 100px;
                    border-radius: 100px;
                    aspect-ratio: 1;
                    object-fit: cover;
                }

                h4 {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .part2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(250, 250, 250);

        &>div {
            width: 50%;
            padding: 15px;
        }

        .leftSide {
            @include Flex();
            justify-content: center;

            img {
                width: 300px;
                aspect-ratio: 0.75;
                object-fit: cover;
            }
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 50px;

            h3 {
                font-family: "Lora";
                font-size: 2.5rem;
            }

            .tags {
                @include Flex();
                gap: 25px;
            }
        }
    }
}

.section-4 {
    @include Flex();
    flex-direction: column;
    gap:25px;

    h1 {
        font-size: 3rem;
    }

    h4 {
        color: $placeholder;
    }

    .testContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:25px;
        margin-top: 50px;

        .test {
            width: 400px;
            @include Flex();
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap:30px;
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 15px;
            // aspect-ratio: 1;
            padding: 25px;

            .head {
                @include Flex();
                flex-direction: row;
                justify-content: center;
                gap:10px;

                img {
                    width: 30px;
                    aspect-ratio: 1;
                    border-radius: 100px;
                    object-fit: cover;
                }
            }
        }
    }
}